/* 
The program is the css stylesheet for the about page
Programmer: Ethan
The UI changes this program made can be seen in the about page
Revised on 5/5/2022
*/

#founder-pic {
    border-radius: 50%;
}

h2 {
    font-family: 'sans-serif-thin';
}

h3 {
    font-family: 'sans-serif-thin';
}