</body>
    <!-- Footer -->
    </br>
    <footer id="footer-bar" class="page-footer font-small">
        <!-- Copyright -->
        <div class="footer-copyright text-center">
        This website was updated on <time>2022-02-23</time>. <b>© CUthere</b>
        </div>
        <!-- Copyright -->
    </footer>
    <!-- Footer -->
</html>