<%- include('../_partial/_header'); %>
<h1>Create Events Form</h1>
<body> 
    <form id="event-form" method="POST" action="/event">
    <table>
        <tr>
            <td>Event Title</td>
            <td><input type ="text" name="title" required></td>
        </tr>

        <tr>
            <td>Event Tag</td>
            <td><input type ="number" name="tags" required></td>
        </tr>

        <tr>
            <td>Location</td>
            <td><input type ="text" name="location" required></td>
        </tr>

        <tr>
            <td>Date</td>
            <td><input type ="date" name="date" required></td>
        </tr>

        <tr>
            <td>Number of Participants</td>
            <td><input type ="number" name="quota" required></td>
        </tr>

        <tr>
            <td>Activity Category</td>
            <td><input type ="text" name="category" required></td>
        </tr>

        <tr>
            <td>Chat History</td>
            <td><input type ="text" name="history" required></td>
        </tr>

        <tr>
            <td>Created on</td>
            <td><input type ="date" name="createdOn" required></td>
        </tr>

        <tr>
            <td colspan="2"><input type ="submit" value="Save"></td>
        </tr>
    </table>
    </form>
</body>
<%- include('../_partial/_footer'); %>
