<%- include('../_partial/_header'); %>

<body class ="form-signin text-center"> 
    <form  class= "form-signin" id="event-form" method="POST" action="/event">
        <h1 class="h3 mb-3">Create your event!</h1>
    <table>
        <tr>
            <td>Event Title</td>
            <td><input type ="text" name="title" required></td>
        </tr>

        <tr>
            <td>Location</td>
            <td><input type ="text" name="location" required></td>
        </tr>

        <tr>
            <td>Date</td>
            <td><input type ="date" name="date" required></td>
        </tr>

        <tr>
            <td>Quota</td>
            <td><input type ="number" name="quota" required></td>
        </tr>

        <tr>
            <td>Activity Category</td>
            <td><input type ="text" name="category" required></td>
        </tr>
        
        <tr>
            <td colspan="2"><input type ="submit" value="Save"></td>
        </tr>
    </table>
    </form>

    <form  class= "form-signin" id="delete-form" method="POST" action="/event/:id">
        <h1 class="h3 mb-3">Delete your Event!</h1>
    <table>
        <tr>
            <td>Input the Event Id that you would like to delete</td>
            <td><input type ="text" name="id" required></td>
        </tr>

        <tr>
            <td colspan="2"><input type ="submit" value="Save"></td>
        </tr>
    </table>
    </form>
</body>



<%- include('../_partial/_footer'); %>
