<%- include('../_partial/_header'); %>
<main class="form-signin text-center">
<img class="mt-4" src="/images/logo.jfif" alt="" width="100px">

<!-- <div class="col-md-8">
    <div class="panel panel-default">
        <div class="panel-heading">
        </div>
        <div class="panel-body"> -->

            <form class="form-signin" method="POST" action="/login">
              <h1 class="h3 mb-3 ">Sign in</h1>
                <div class="form-floating">
                    <!-- <span class="input-group-addon form-label" id="basic-addon1">SID/ TID : </span> -->
                    <input type="number" class="form-control" name="sid" id="floatingInput" placeholder="SID">
                    <label class ="form-label" for="floatingInput">SID/TID</label>
                </div>


                <div class="mb-3 form-floating">
                    <!-- <span class="input-group-addon form-label" id="basic-addon1"><span class="glyphicon glyphicon-lock"
                            aria-hidden="true"></span></span> -->
                    <input type="password" class="form-control" name="password" id="floatingPassword" placeholder="Password">
                    <label class ="form-label" for="floatingPassword">Password</label>
                </div>

                <input type="submit" class="btn btn-outline-warning navbar-btn" value="Sign In" />

            </form>
        <!-- </div>
    </div>
</div> -->
</main>
<%- include('../_partial/_footer'); %>