.text{
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 13px;
  text-align: left;
  width: 10rem;
  margin: 0;
}
.widget{
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
}

a:link{
  text-decoration: black;
}