/* 
The program is the css stylesheet for the event detail --> Prototype no.2
Programmer: Bryan 
The UI changes this program made can be seen in each individual event details page
Revised on 5/5/2022
*/
.text{
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 13px;
  text-align: left;
  width: 10rem;
  margin: 0;
}
.widget{
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
}

a:link{
  text-decoration: black;
}