.profilePic {
    width: 60%;
    display: flex;
    align-items: center;
    padding: 20px;
  }
  .profileContainer {
    display: flex;
    margin: 20px;
  }
  @media only screen and (max-width: 768px) {
    .profileContainer {
      flex-direction: column-reverse;
    }
  }

  .border {
    border-radius: 100%;
    border-width: 10;
    border-color: blue;
  }
  .round {
    -webkit-border-top-left-radius: 1px;
    -webkit-border-top-right-radius: 2px;
    -webkit-border-bottom-right-radius: 3px;
    -webkit-border-bottom-left-radius: 4px;
  
    -moz-border-radius-topleft: 1px;
    -moz-border-radius-topright: 2px;
    -moz-border-radius-bottomright: 3px;
    -moz-border-radius-bottomleft: 4px;
  
    border-top-left-radius: 1px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 4px;
    border-color: black;
  }

  .myContainer {
      margin-left : 0px; 
      margin-right: 0px;
      padding-left: 0px;
      padding-right: 0px;
  }

  .imgCol {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 5%;
      margin-top: -130px;
  }

  .rightCol {
    align-items: left;
    justify-content: left;
    text-align: left;
    }
@media only screen and (max-width: 1199px) {
  .rightCol {
      align-items: center;
      justify-content: center;
      text-align: center;
  }
}

.userInfo {
  height: 80%;
  margin-top: 10px;
  margin-bottom: 100px;
  border-radius: 15px 30px 45px 7.5px;
  border: 3px solid rgba(0, 0, 0, 0.15);
  padding-left: 20px;
}

.buttonCol button {
  display: block;
  width: 80%;
  margin-left: 10%;
  align-items: center;
}

.buttonContainer {
  align-items: center;
  margin-left: auto;
  justify-content: center;
}

body{
  background: #f7f7ff;
  margin-top:20px;
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0 solid transparent;
  border-radius: .25rem;
  margin-bottom: 1.5rem;
  box-shadow: 0 2px 6px 0 rgb(218 218 253 / 65%), 0 2px 6px 0 rgb(206 206 238 / 54%);
}
.me-2 {
  margin-right: .5rem!important;
}

.parent {
  display: flex;
  flex-wrap: wrap;

}

.child {
  flex: 50%; /* or - flex: 0 50% - or - flex-basis: 50% - */
  /*demo*/
}