</body>
<!-- Footer -->
</br>
<footer id="footer-bar" class="page-footer font-small">
    <!-- Copyright -->
    <div class="footer-copyright text-center">
    <b>© CUthere</b>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->
</html>